# IntellIJ files
.idea
.iml

# Eclipse files
.project
.settings
.classpath

# Vagrant files
.vagrant

# Local files (Uncomment the following line because you don't want to check in your user version for your project.
#Vagrantfile.user

# From github.com/martijnsips/ubuntu-development-environment
scripts/*
Host
Vagrantfile
Vagrantfile.project.sample
Vagrantfile.user.sample

# Include the project specific (ExampleProject) files
!scripts/ExampleProject
